<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
    {% if change %}
    <form action="/forgotpassword" method="POST">
        <label for="email">Enter Mail:</label>
        <input type="email" name="email">
        <input type="submit" value="submit">
    </form>
    {% endif %}
    {% if msg %}
        {{msg}}
    {% endif %}
    {% if found %}
    <form action="/forgotpasswordotp" method="post">
        <label for="'otp">Enter OTP Received to mail: </label>
        <input type="number" name="otp">
        <input type="submit" value="submit">
    </form>
    {% endif %}
</body>
</html>