<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Changing Password</title>
</head>
<body>
    {% if msg %}
        {{msg}}
    {% endif %}
    <form action="/updatepassword" method="post">
      <label for="password1">Enter Password: </label>
       <input type="password" name="password1">
      <label for="password2">Enter Confirm Password: </label>
      <input type="password" name="password2">
      <input type="submit" value="submit">
    </form>
    {% if message %}
        {{message}}
        <a href="/">Click Here to Redirect to home</a>
    {% endif %}
</body>
</html>