<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Index Page</title>
</head>
<body>
<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Career Connect</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">CareerConnect</a></li>
            <li><a href="#">ProblemStatement</a></li>
            <li><a href="#">Who are we</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{url_for('login_blueprint.login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
        <form action="{{url_for('recruiter_blueprint.recruiter_register')}}" method="POST" style="position: absolute; top: 40%; left: 20%;">
            <input type="submit" value="Recuriter Register" style="text-align: center">
        </form>
        <form action="{{url_for('jobseeker_blueprint.jobseeker_register')}}" method="POST" style="position: absolute; top: 40%; right: 20%;">
            <input type="submit" value="JobSeeker Register">
        </form>
</body>
</html>
