<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
</head>
<body>
      <form action="/jobseeker_validate-email" action = "POST" style="position: absolute; top: 50%; left: 50%;">
        <label for="otp" id="otp" name="otp" style="display: block; margin: 0 auto; text-align: center;">Enter OTP Sent to mail: </label>
        <input type="number" for="otp" name="otp"  style="display: block; margin: 0 auto;">
        <input type="submit"  style="display: block; margin: 0 auto; color: red">
      </form>
</body>
</html>