<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>Login Form</h2>
  <form action="/login" method="post">
    {{form.csrf_token}}
    <div class="form-group">
      {% if msg %}
          {{msg}}
      {% endif %}<br>
      {{form.mail.label}}
       <input type="text" class="form-control" name="mail" placeholder="Enter mail" >
    </div>
    <div class="form-group">
      {{form.password.label}}
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
    </div>
    <button type="submit" class="btn btn-default">{{form.submit}}</button>
  </form>
  </form>
  <form action="/forgotpassword" method="GET">
    <input type="submit" value="Forgot Password?">
  </form>
</div>

</body>
</html>
